<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styleUser.css" type="text/css">
    <link rel="stylesheet" href="../../css/styleAggUser.css" type="text/css">
    <title>Agregar Usuario</title>
</head>
<body>
<header>
        <nav class="nav__hero">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">Ecommerce<span class="point">.</span></h2>
                </div>
                <div class="links">
                    <a href="../admin/inicioAdmin.php" class="link">Cuenta</a>
                    <a href="#" class="link">Productos</a>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>

    <nav class="sidebar">
        <ul>
            <br>
            <br>
            <li><a href="../admin/inicioAdmin.php" class="active"><span>Inicio</span></a></li>
            <li><a href="#"><span class="icono-agregar">Agregar Usuario</span></a></li>
            <li><a href="#"><span class="icono-autorizar">Autorizar</span></a></li>
            <li><a href="#"><span class="icono-reportes">Reporte Usuario</span></a></li>
            <li><a href="#"><span class="icono-reportes">Reportes</span></a></li>
            <li><a href="../admin/micuentaA.php"><span class="icono-usuario">Mi Cuenta</span></a></li> 
            <li><a href="../login.html"><span class="icono-cerrar">Cerrar sesión</span></a></li>
        </ul>
    </nav>
<br>
<div class="container-user">
    <div class="column-form">
       <center><h2>Agregar usuario</h2></center> 

        <form id="insertUser" action="../../../backend/regUserAdmin.php" method="post">
            <label for="correo">Correo:</label>
            <input type="text" name="correo" id="correo">
            <br>
            <label for="dpi">Dpi:</label>
            <input type="number" name="dpi" id="dpi">
            <br>
            <label for="confirmPassword">Contraseña</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
            <br>
            <label for="pass">Confirmar Contraseña:</label>
            <input type="password" name="pass" id="pass">
            <br>
            <label for="cargo">Cargo:</label>
            <select name="cargo" id="cargo">
                <option value="administrador">administrador</option>
                <option value="usuario">usuario</option>
            </select>
            <br>
            <input type="submit" value="Agregar">
        </form>
    </div>
     <div class="column-table">
     <center><h2>Usuarios Registrados</h2></center> 

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dpi</th>
                    <th>Correo</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody id="tabla-usuarios">
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="../../js/regUsuario.js"></script>
</html>