<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styleUser.css" type="text/css">
    <link rel="stylesheet" href="../../css/stylerReporteUsuario.css" type="text/css">
    <title>Reportes Usuario</title>
</head>
<body>
<header>
        <nav class="nav__hero">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">Ecommerce<span class="point">.</span></h2>
                </div>
                <div class="links">
                    <a href="../admin/inicioAdmin.php" class="link">Cuenta</a>
                    <a href="#" class="link">Productos</a>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>

    <nav class="sidebar">
        <ul>
            <br>
            <br>
            <li><a href="#" class="active"><span>Inicio</span></a></li>
            <li><a href="../admin/AgregarUser.html"><span class="icono-agregar">Agregar Usuario</span></a></li>
            <li><a href="../admin/autorizarProd.html"><span class="icono-autorizar">Autorizar</span></a></li>
            <li><a href="../admin/verReportes.html"><span class="icono-reportes">Reporte Usuario</span></a></li>
            <li><a href="#"><span class="icono-reportes">Reportes</span></a></li>
            <li><a href="../admin/micuentaA.php"><span class="icono-usuario">Mi Cuenta</span></a></li> 
            <li><a href="../login.html"><span class="icono-cerrar">Cerrar sesión</span></a></li>
        </ul>
    </nav>

    <div class="reportes-container">
        <h1>Ingresos a la pagina por Productos</h1>
        <table class="reportes4-table">
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Ingresos Totales</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán las filas de datos -->
            </tbody>
        </table>


        <h1>Productos Más Vendidos</h1>
        <table class="reportes-table">
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Total de Ventas</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán las filas de datos -->
            </tbody>
        </table>

        <h1>Ranking de Puntos</h1>
        <table class="reportes2-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Puntos Totales</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán las filas de datos -->
            </tbody>
        </table>

        <h1>Evento Más Usados</h1>
        <table class="reportes3-table">
            <thead>
                <tr>
                    <th>Titulo Servicios</th>
                    <th>Inscripciones</th>
                    <th>Dueño del Servicio o Evento</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán las filas de datos -->
            </tbody>
        </table>
    </div>
    

<script src="../../js/admin/cincoMasendido.js"></script>
</body>
</html>
