.reportes-container {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 20px auto; /* Margen superior e inferior para centrar el contenido */
    padding: 20px; /* Espaciado interno */
    height: calc(100vh - 50px); /* Resta el alto del nav superior */
    overflow-y: auto; /* Añadir desplazamiento vertical si el contenido es demasiado largo */
    margin-left: 250px; /* Margen izquierdo igual al ancho del sidebar */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.reportes-table {
    width: 100%;
    border-collapse: collapse;
}

.reportes-table th, .reportes-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.reportes-table th {
    background-color: #f2f2f2;
}

.reportes-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.reportes-table tr:hover {
    background-color: #ddd;
}

.suspender-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.suspender-btn:hover {
    background-color: #d32f2f;
}

.reportes2-table {
    width: 100%;
    border-collapse: collapse;
}

.reportes2-table th, .reportes2-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.reportes2-table th {
    background-color: #f2f2f2;
}

.reportes-table2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.reportes-table2 tr:hover {
    background-color: #ddd;
}

/*Reportes 3*/

.reportes3-table {
    width: 100%;
    border-collapse: collapse;
}

.reportes3-table th, .reportes2-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.reportes3-table th {
    background-color: #f2f2f2;
}

.reportes-table3 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.reportes-table3 tr:hover {
    background-color: #ddd;
}

/*Reportes 3*/

.reportes4-table {
    width: 100%;
    border-collapse: collapse;
}

.reportes4-table th, .reportes2-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.reportes4-table th {
    background-color: #f2f2f2;
}

.reportes-table4 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.reportes-table4 tr:hover {
    background-color: #ddd;
}

