.container-form {
    max-width: 1000px; /* Reducir el ancho máximo del formulario */
    margin: 25px auto; /* Centrar el formulario en la pantalla y agregar espacio arriba y abajo */
    margin-left: 350px; /* Ajuste el margen izquierdo para evitar que se superponga con el nav */
    overflow: hidden; /* Para limpiar el float */
}
.container-form h2 {
    margin-top: -70px; /* Agrega un espacio superior al título */
    text-align: center;
}

.update-section {
    width: calc(50% - 20px); /* 50% del ancho y resto del margen */
    float: left; /* Flota a la izquierda */
    margin-right: 50px; /* Espacio entre los formularios */
    padding: 20px;
    box-sizing: border-box; /* Incluir el relleno en el ancho */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-section:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último formulario */
}

.update-section h3 {
    margin-top: 0;
}

.update-section label {
    display: block;
    margin-bottom: 5px;
}

.update-section input[type="text"],
.update-section input[type="password"],
.update-section select {
    width: calc(100% - 12px); /* Ajustar el ancho de los campos de entrada */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-section button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-section button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .update-section {
        width: 100%; /* Para una sola columna en dispositivos móviles */
        margin-right: 0; /* Eliminar el margen entre formularios */
        margin-bottom: 20px; /* Espacio entre formularios en dispositivos móviles */
    }
}
