body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #2980b9; /* Azul */
    padding-top: 40px;
}

.sidebar h3 {
    margin-top: -40px; /* Controla la distancia desde la parte superior del sidebar */
    padding: 20px 0; /* Añade relleno para hacer que el título se vea más grande */
    text-align: center;
    color: white;
    font-size: 24px; /* Ajusta el tamaño del texto */
    border-bottom: 3px solid rgba(9, 8, 8, 0.2); /* Añade una línea inferior */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 1px; /* Añade espacio entre letras */
}

.sidebar h3 span {
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 10;
}

.sidebar ul li {
    padding: 5px;
}

.sidebar ul li a {
    color: #fff; /* Color del texto */
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 15px 20px; /* Espaciado interno */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    border-radius: 5px; /* Bordes redondeados */
}

/* Cuando el puntero del mouse está encima */
.sidebar ul li a:hover {
    background-color: #1a5276; /* Cambia el color de fondo al pasar el ratón */
    color: #fff; /* Cambia el color del texto al pasar el ratón */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Añade sombra al pasar el ratón */
}

/* Cuando el elemento está activo (seleccionado) */
.sidebar ul li a.active {
    background-color: #154360; /* Cambia el color de fondo cuando está activo */
    color: #fff; /* Cambia el color del texto cuando está activo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Añade sombra cuando está activo */
}s
.sidebar ul li a span {
    margin-left: 10px;
}

.content {
    margin-left: 200px; /* Ancho del menú lateral */
    padding: 20px;
}

.container {
    text-align: center;
}

h1, p {
    color: #000; /* Negro */
    opacity: 0; /* Inicialmente, el texto estará oculto */
}

/* Animaciones */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate__animated {
    animation-duration: 1s; /* Duración de la animación */
    animation-fill-mode: both;
}

.animate__fadeInDown {
    animation-name: fadeInDown;
}

.animate__fadeInUp {
    animation-name: fadeInUp;
}

.icono-usuario {
    padding-left: 25px; /* Espacio a la izquierda del texto para el icono */
    background: url('../img/img_user/usuario.png') no-repeat left center; /* Configuración del fondo */
    background-size: 18px 18px; /* Tamaño del icono */
    line-height: 16px; /* Ajustar la altura del icono al texto */
}

.icono-comprar{
    padding-left: 25px; /* Espacio a la izquierda del texto para el icono */
    background: url('../img/img_user/vendido.png') no-repeat left center; /* Configuración del fondo */
    background-size: 22px 22px; /* Tamaño del icono */
    line-height: 16px; /* Ajustar la altura del icono al texto */
}
.icono-productos{
    padding-left: 25px; /* Espacio a la izquierda del texto para el icono */
    background: url('../img/img_user/productos.png') no-repeat left center; /* Configuración del fondo */
    background-size: 20px 20px; /* Tamaño del icono */
    line-height: 16px; /* Ajustar la altura del icono al texto */
}
.icono-carrito{
    padding-left: 25px; /* Espacio a la izquierda del texto para el icono */
    background: url('../img/img_user/carrito.png') no-repeat left center; /* Configuración del fondo */
    background-size: 23px 23px; /* Tamaño del icono */
    line-height: 16px; /* Ajustar la altura del icono al texto */
}
.icono-reportes{
    padding-left: 25px; /* Espacio a la izquierda del texto para el icono */
    background: url('../img/img_user/reporte.png') no-repeat left center; /* Configuración del fondo */
    background-size: 18px 18px; /* Tamaño del icono */
    line-height: 16px; /* Ajustar la altura del icono al texto */
}
.icono-cerrar{
    padding-left: 25px; /* Espacio a la izquierda del texto para el icono */
    background: url('../img/img_user/cerrar.png') no-repeat left center; /* Configuración del fondo */
    background-size: 18px 18px; /* Tamaño del icono */
    line-height: 16px; /* Ajustar la altura del icono al texto */
}
.icono-autorizar{
    padding-left: 25px; /* Espacio a la izquierda del texto para el icono */
    background: url('../img/img_user/verificado.png') no-repeat left center; /* Configuración del fondo */
    background-size: 18px 18px; /* Tamaño del icono */
    line-height: 16px; /* Ajustar la altura del icono al texto */
}
.icono-agregar{
    padding-left: 25px; /* Espacio a la izquierda del texto para el icono */
    background: url('../img/img_user/agregar.png') no-repeat left center; /* Configuración del fondo */
    background-size: 18px 18px; /* Tamaño del icono */
    line-height: 16px; /* Ajustar la altura del icono al texto */
}