body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-cuenta {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 40px auto;
    max-width: 900px;
    margin-right: 50px;
}

.info-box, .edit-box {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.info-box {
    background-color: #3498db;
    color: #fff;
    height: 428px;
}

.edit-box {
    background-color: #fff;
    color: #333;
    height: 428px;
    width: fit-content;
}

.edit-box form {
    display: flex;
    flex-direction: column;
}

.edit-box {
    display: flex;
}

.edit-box .input-field {
    flex: 1;
    margin-right: 10px;
}
.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-field {
    flex: 1;
    margin-right: 10px;
}

.input-field label {
    margin-bottom: 5px;
}

.input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.input-field select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.edit-box label {
    margin-top: 10px;
}

.input-field input[type="text"],
.input-field input[type="password"],
.input-field input[type="email"],
.input-field input[type="tel"] {
    width: 90%;
}


.edit-box button {
    padding: 10px;
    margin-top: -5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-box button:hover {
    background-color: #2980b9;
}
