<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nosotros - Ecommerce</title>

<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" href="../css/styleNosotros.css" type="text/css">
<link rel="stylesheet" href="../css/asset/bootstrap.min.css">
<link rel="stylesheet" href="../css/asset/templatemo.css">
<link rel="stylesheet" href="../css/asset/custom.css">

<!-- Load fonts style after rendering the layout styles -->

<body>

    <nav class="nav__hero">
        <div class="container nav__container">
            <div class="logo">
                <h2 class="logo__name">Ecommerce<span class="point">.</span></h2>
            </div>
            <div class="links">
                <a href="../../index.html" class="link">Inicio</a>
                <a href="#" class="link">Informacion</a>
                <a href="../views/registo.html" class="link">Registro</a>
                <a href="../views/login.html" class="link link--active">Login</a>
            </div>
        </div>
    </nav>
</header>

<section class="bg-primary py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Información</h1>
                <p>
                    Nuestra misión es proporcionarte una amplia variedad de productos, desde tecnología de vanguardia hasta artículos para el hogar, con la flexibilidad de adquirirlos desde la comodidad de tu hogar
                    </p>
                    <p>
                    Además, Tenemos la opción de acumular puntos para canjear por productos exclusivos, así que tienes más posibilidades de comprar.
                </p>
            </div>
            <div class="col-md-4">
                <img src="../img/bellotaWhite.png" alt="About Hero" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- Close Banner -->

<!-- Close Banner -->

<!-- Start Section -->
<section id="custom-services" class="container py-1">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Nuestros Servicios</h1>
            <p>
                Bienvenidos a nuestro Ecommerce, la plataforma que te ofrece una experiencia de compra única y conveniente. Somos un equipo apasionado comprometido a brindarte productos de calidad y un servicio excepcional
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><img src="../img/compra.png" alt="Icono personalizado"></div>
                <h2 class="h5 mt-4 text-center">Compras</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><img src="../img/ventas.png" alt="Icono personalizado"></div>
                <h2 class="h5 mt-4 text-center">Ventas</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><img src="../img/promocion.png" alt="Icono personalizado"></div>
                <h2 class="h5 mt-4 text-center">Promociones</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><img src="../img/puntos.png" alt="Icono personalizado"></div>
                <h2 class="h5 mt-4 text-center">Puntos</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
<section class="bg-light py-2">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">¡Acumula Puntos!</h1>
                <p>
                  Los puntos los puedes canjear por productos o servicios, estos puntos se ganan haciendo ventas o realizando alguna actividad de los servicios que te ofreceran las distintas personas
                </p>
                <p>
                    Asi que ve y ACUMULA PUNTOS
                </p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="conteiner_footer">
        <p>derechos reservados Teorema de sistemas 2</p>
    </div>
</footer>
  
<script src="scripts.js"></script>
</body>
</html>
