<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="../../css/styleUser.css" type="text/css">
    <link rel="stylesheet" href="../../css/stylecarrito.css">
</head>
<body>
    <div class="container-car">
        <h1 class="title-car">Productos escogidos</h1>
        <div class="cart">
            <div class="cart-items">
                <!-- Aquí se mostrarán los productos escogidos -->
            </div>
            <div class="cart-total">
                <div class="total">
                    <h3>Total carrito</h3>
                    <h4 id="total-price">Q75.00</h4>
                </div>
                <div class="total">
                    <h3>Total Puntos</h3>
                    <h4 id="total-points">100</h4>
                </div>
                <button id="checkout-btn">Finalizar</button>
            </div>
        </div>
    </div>
    <script src="../../js/carrito.js"></script>
</body>
</html>
