<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Mis Productos</title>
    <link rel="stylesheet" href="../../css/styleUser.css" type="text/css">
    <link rel="stylesheet" href="../../css/styleEditProd.css">
</head>
<body>
    <header>
        <nav class="nav__hero">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">Ecommerce<span class="point">.</span></h2>
                </div>
                <div class="links">
                    <a href="../comun/inicioComun.php" class="link">Cuenta</a>
                    <a href="../comun/productosUser.html" class="link">Productos</a>
                    <a href="../comun/carrito.html" class="link link--active">Carrito</a>
                </div>
            </div>
        </nav>
    </header>
    <nav class="sidebar">
        <h3>nut</h3>
        <ul>
            <li><a href="../comun/inicioComun.php" class="active"><span>Inicio</span></a></li>
            <li><a href="../comun/publicacion.html"><span class="icono-comprar">Vender</span></a></li>
            <li><a href="../comun/chats.html"><span class="icono-productos">Chats</span></a></li>
            <li><a href="#"><span class="icono-reportes">Mis compras</span></a></li>
            <li><a href="../comun/editProd.html"><span class="icono-prodEditar">Mis Productos</span></a></li>
            <li><a href="../comun/micuenta.php"><span class="icono-usuario">Mi Cuenta</span></a></li>
            <li><a href="../login.html"><span class="icono-cerrar">Cerrar sesión</span></a></li>
        </ul>
    </nav>

    <!-- Content -->
    <div class="container-prod">
        <div class="main-content">
            <div class="top-bar">
                <h1>Edición de Productos</h1>
                <div class="sort-dropdown">
                    <select>
                        <option value="featured">Filtar</option>
                        <option value="a-z">A a Z</option>
                        <option value="item">Servicios</option>
                        <option value="item">Productos</option>
                    </select>
                </div>
            </div>

            <div class="product-list">
                <!-- Publicaciones serán agregadas aquí dinámicamente por JavaScript -->
           </div>


            <div class="pagination">
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>



    <script src="../../js/Usuario/editProd.js"></script>
</body>
</html>
