<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styleUser.css" type="text/css">
    <link rel="stylesheet" href="../../css/stylePuntos.css">
    <title>Puntos</title>
</head>
<body>
    <header>
        <nav class="nav__hero">
            <div class="container nav__container">
                <div class="logo">
                    <h2 class="logo__name">Ecommerce<span class="point">.</span></h2>
                </div>
                <div class="links">
                    <a href="../comun/inicioComun.php" class="link">Cuenta</a>
                    <a href="../comun/productosUser.html" class="link">Productos</a>
                    <a href="../comun/carrito.html" class="link link--active">Carrito</a>
                </div>
            </div>
        </nav>
    </header>
    <nav class="sidebar">
        <h3>nut</h3>
        <ul>
            <li><a href="#" class="active"><span>Inicio</span></a></li>
            <li><a href="../comun/publicacion.html"><span class="icono-comprar">Vender</span></a></li>
            <li><a href="../comun/chats.html"><span class="icono-productos">Chats</span></a></li>
            <li><a href="../comun/historial.html"><span class="icono-reportes">Mis compras</span></a></li>
            <li><a href="../comun/editProd.html"><span class="icono-prodEditar">Mis Productos</span></a></li>
            <li><a href="../comun/micuenta.php"><span class="icono-usuario">Mi Cuenta</span></a></li>
            <li><a href="../comun/Puntos.html"><span class="icono-Puntos">Puntos</span></a></li>
            <li><a href="../login.html"><span class="icono-cerrar">Cerrar sesión</span></a></li>
        </ul>
    </nav>

    <div class="puntos-container">
        <div class="puntos-header">
            <h1>Tus Bellotas</h1>
            <p>Tienes <span id="user-points">100</span> bellotas.</p>
            <button class="btn-comprar">Comprar más puntos</button>
        </div>
        <div class="puntos-history">
            <h2>Historial de Puntos</h2>
            <ul>
                <li><span class="date">01/04/2024</span> - Ganaste 50 puntos por realizar una voluntariado.</li>
                <li><span class="date">02/04/2024</span> - Gastaste 20 puntos en una compra.</li>
                <!-- Más elementos de historial -->
            </ul>
        </div>
    </div>

      <!-- Imagen de la ardilla con lupa animada -->
      <img src="../../img/img_user/ardillaLupa.png" alt="Ardilla con lupa" class="squirrel-img">
</body>
</html>
